[Desktop Entry]
Version=1.0
Type=Application
Name=Ghidra
Comment=Ghidra is a software reverse engineering (SRE) framework
Exec=/usr/bin/ghidra-gui
Icon=ghidra
Terminal=false
StartupNotify=false
Categories=Utility;
